fastapi
uvicorn
python-multipart
chromadb
langchain>=0.3.0
langchain-community>=0.3.0
langchain-huggingface
sentence-transformers
google-generativeai
langchain-google-genai
PyPDF2
pydantic
python-dotenv
huggingface_hub
